<!--
Creating a testng.xml file which can be used to trigger testng test cases/test suite based on grouping, parameterization etc
-->
<suite name="TestNG Test Suite">
    <test name="TestNG Golden Config Tests">
        <listeners>
            <listener class-name="com.testNGTests.TestNGListeners"/>
        </listeners>
        <classes>
            <class name="com.testNGTests.SanityTests"/>
            <class name="com.testNGTests.SmokeTests"/>
            <!--Use below for passing parameters from xml file, we can define them at suite,class, test levels as well-->
            <parameter name="environment" value="SIT"/>
            <groups>
                <run>
                    <include name="shakedown"/>
                </run>
            </groups>
        </classes>
    </test>
</suite>